* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cinzel {
    font-family: "Cinzel", serif;
}

.containerprincipal {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas: "header header header header"
        "hero hero hero hero"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: auto auto auto auto
}


.containers {
    width: 100%;
    height: 100%;


}



.item1 {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    justify-content: flex-start;

}

.item2 {
    grid-area: hero;


}

.item3 {
    grid-area: main;

}

.item4 {
    grid-area: footer;
    height: 100%
}

.logologo {

    width: 10%;

}

.logo {
    border-radius: 50%;
    width: 30%;
}

h1 {
    font-family: cinzel;
    color: #d0a933;
    font-size: 150%;
    font-weight: 100;
}

.textomenu {
    display: flex;
    gap: 10%;
    width: 80%;
    align-items: center;
    justify-content: center;

}



.footerlogos {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;


}


.footerlogos>* {
    margin-bottom: 20px;
    text-align: center;
}


.logoexpp {

    width: 100%;

}




.titulo {
    text-align: center;
    padding: 40px 0 20px 0;
}

.titulo1 {
    font-family: "Cinzel", serif;
    color: #d0a933;
    font-size: 250%;
    font-weight: 400;
}




.galeria-container {
    display: grid;
    gap: 25px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;


    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.galeria-img {
    width: 100%;

    height: auto;


    min-height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}


.galeria-img:hover {
    transform: scale(1.02);
    z-index: 10;
}



@media (max-width: 650px) {
    .galeria-container {

        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item2 {
        min-height: auto;
    }

    .textomenu {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-template-rows: 1fr;
        width: 80%;
        gap: 10px;
        align-items: center;
        justify-items: center;

    }

    .logo {
        width: 100%;
    }

    .item2 {

        min-height: 200px;

    }


}


.titulo {

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo1 {

    display: flex;
    align-items: center;



}

.backgroundvideo {



    background-image: url(m2-res_1080p.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 50px;


}

.trailer {

display: flex;
justify-content: center;


}

.ANO {

display: flex;
justify-content: center;
text-align: center;


}

.item2sobre 
{
    grid-area: hero;
margin-top: 5%;

}

.videotrailer {

border: #d0a933 solid 1px;

}
 
.textotexto {
padding-top: 50px;
width: 100%;
font-size: large;
font-style: italic;
text-align: center;
display: flex;

}
